<h1>Create Article</h1>

<% if @article.errors.any? %>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
        <%end%>
    </ul>
<% end %>
<h2>New</h2>

<%= render 'form' %>

<%= link_to "Back to listing", articles_path %>