<%= stylesheet_link_tag "style.css" %>
<div  id="jumbotron">
  <h1 class="display-4">BLOG</h1>
  <p class="lead">Blogging system built on Ruby-on-rails</p>
  <%# <hr class="my-1"> %>
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Signup</a>
  </p>
</div>